@import '../vars';

section.section {
  margin: 1rem auto 2rem;
  
  h1 {
    margin: 0 0 0.5rem 0;
    line-height: 1;

    b { color: $color-primary; }
  }

  p {
    margin: 0;
  }

  p b { 
    font-weight: 900;
    color: $color-em; 
  }
}