section.section
  h1 #[b What] is this site?
  p 
    | This site allows you to #[a(href="#form") post] any comments or opinions, #[b AS LONG AS] they are of the nature described above.
    | Positive or even neutral comments are not appreciated. If you have only neutral or positive comments to share, this site is not for you.
    | Otherwise, check it out below! 