section.section
  h1 #[b Where] did my post go?
  p 
    | The Trash. Oh, who am I kidding? I don't even save them #[i to] throw them out. Any opinions you have of this nature
    | are waste of everyone's time. No one of average intelligence or above would have taken them seriously, and you should stop wasting your energy on them.