section.section
  h1 #[b Who] is this site intended for?
  p 
    | Anyone who has a #[b violent, aggressive, hateful or hurtful]
    | opinion towards one or more human beings. This opinion can be politically motivated, racially motivated, etc.