section.section
  h1 #[b Why] does this site exist?
  p 
    | Two reasons really:
  ul
    li It was good practice, and a project for my portfolio.
    li It may have helped a few people realize that these types of comments and actions are 
      | retrogressive rather than progressive. These negative comments and actions not only make you appear less intelligent,
      | they could never be useful to anyone ever. 